#ifndef __INC_CONFIG_H
#define __INC_CONFIG_H 1


#if ! _key_void
# define void int
#endif
#if ! _key_void || ! _param_void_star
  typedef char *_pvoid;
#else
  typedef void *_pvoid;
#endif
#if ! _key_const
# define const
#endif

#ifndef _
# if _proto_stdc
#  define _(args) args
# else
#  define _(args) ()
# endif
#endif


/* test comment */
/*
  test comment 2
*/
/* TEST 1 */
/* a \ b ' " ' " */
/* TEST 2 */
#if _lib_bindtextdomain && \
    _lib_gettext && \
    _lib_setlocale && \
    _lib_textdomain && \
    _hdr_libintl && \
    _hdr_locale && \
(_command_msgfmt || _command_gmsgfmt)
# define _enable_nls 1
#else
# define _enable_nls 0
#endif


#endif /* __INC_CONFIG_H */
