#ifndef __INC_CONFIG_H
#define __INC_CONFIG_H 1

#define _hdr_stdlib 1
#define _hdr_stdio 1
#define _sys_types 1
#define _sys_param 1
#define _key_void 1
#define _key_const 1
#define _proto_stdc 1
#define _include_malloc 0
#define _include_string 0
#define _include_time 0

#if ! _key_void || ! _proto_stdc
# define void int
#endif
#if ! _key_const || ! _proto_stdc
# define const
#endif

#ifndef _
# if _proto_stdc
#  define _(args) args
# else
#  define _(args) ()
# endif
#endif


/* TEST 1 */
/* a \ b ' " ' " */
/* TEST 2 */
#if _lib_bindtextdomain && \
    _lib_gettext && \
    _lib_setlocale && \
    _lib_textdomain && \
    _hdr_libintl && \
    _hdr_locale && \
(_command_msgfmt || _command_gmsgfmt)
# define _enable_nls 1
#else
# define _enable_nls 0
#endif


#endif /* __INC_CONFIG_H */
