
#ifndef INC_OUT_H
#define INC_OUT_H 1


#ifndef MKC_STANDARD_DEFS
# define MKC_STANDARD_DEFS 1
# if ! _key_void
#  define void int
# endif
# if ! _key_void || ! _param_void_star
   typedef char *pvoid;
# else
   typedef void *pvoid;
# endif
# if ! _key_const
#  define const
# endif
#endif /* MKC_STANDARD_DEFS */


/* test comment */
/*
  test comment 2
*/
/* TEST 1 */
/* a \ b ' " ' " */
/* TEST 2 */
#if _lib_bindtextdomain && \
    _lib_gettext && \
    _lib_setlocale && \
    _lib_textdomain && \
    _hdr_libintl && \
    _hdr_locale && \
(_command_msgfmt || _command_gmsgfmt)
# define _enable_nls 1
#else
# define _enable_nls 0
#endif


#endif /* INC_OUT_H */
