#ifndef __INC_CONFIG_H
#define __INC_CONFIG_H 1

#define _hdr_stdlib 1
#define _hdr_stdio 1
#define _sys_types 1
#define _sys_param 1
#define _key_void 1
#define _key_const 1
#define _proto_stdc 1
#define _hdr_math 1
#define _include_malloc 0
#define _include_string 0
#define _lib_atanh 1

#if ! _key_void || ! _proto_stdc
# define void int
#endif
#if ! _key_const || ! _proto_stdc
# define const
#endif

#ifndef _
# if _proto_stdc
#  define _(args) args
# else
#  define _(args) ()
# endif
#endif


#define _mkconfig_sh 1
#define _mkconfig_pl 0

#endif /* __INC_CONFIG_H */
